@font-face {
  	font-family: 'HelveticaNeue-Thin';
   	font-style: normal;
   	font-weight: normal;
    src: local('HelveticaNeue-Thin'), url('/fonts/HelveticaNeue-Thin.ttf') format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    height: 340px;
}

hgroup {
    margin-top: 20px;
    height: 300px;
    background-color: white;
    text-align: right;
}

h1 {
    margin: 20px 40px 0 0px;
    font-size: 40px;
    line-height: 40px;
/*	font-family: 'Fanwood Text', 'Gotham', Helvetica, Verdana, sans-serif;*/
    font-family: 'Gotham', Helvetica, Verdana, sans-serif;
    text-transform: uppercase;
}

h2 {
	font-size: 20px;
	line-height: 20px;
	font-family: 'Gotham', Helvetica, Verdana, sans-serif;
	text-transform: uppercase;
	margin: 20px 40px 20px 0px;
}

h3 {
	font-size: 18px;
	line-height: 20px;
	font-family: 'Gotham', Helvetica, Verdana, sans-serif;
	text-transform: uppercase;
    margin: 0px 40px 0px 0px;
}

h4 {
	font-size: 18px;
	line-height: 20px;
	font-family: 'Gotham', Helvetica, Verdana, sans-serif;
	text-transform: uppercase;
    margin: 0px 0px 20px 0px;
}

section {
	background-color: lightgrey;
}

hgroup figure {
    margin-top: 20px;
}

p {	
	font-size: 16px;
	line-height: 20px;
	font-family: 'Gotham', Helvetica, Verdana, sans-serif;
}

li {
	font-size: 16px;
	line-height: 20px;
}

img.flag {
    height: 20px;
    width: 70px;
}

#slider {
	margin-top: 20px;
}

#slider img {
	border: 1px solid black;
}

#slider .pagination {
	list-style:none
}

.pagination {
	list-style: none outside none;
	padding-right: 15px;
	margin-top: 3px;
	overflow: hidden;
}

.pagination li {
	cursor: pointer;
	display: inline-block;
	background-color: orange;
	border-radius: 2;
	text-indent: 10000px;
	width: 8px;
	height: 8px;
}

.pagination li.current {
	background-color: yellow;
}

.content {
	background: url('/images/colosseo.png') no-repeat 0px 60px;
}

iframe {
    margin-bottom: 25px;
}

footer {
	padding: 20px 0 0 0;
	text-align: center;
}
