@font-face {
  	font-family: 'HelveticaNeue-Thin';
   	font-style: normal;
   	font-weight: normal;
    src: local('HelveticaNeue-Thin'), url('/fonts/HelveticaNeue-Thin.ttf') format('truetype');
}

@font-face {
  	font-family: 'PasseroOne-Regular';
   	font-style: normal;
   	font-weight: normal;
    src: local('PasseroOne-Regular'), url('/fonts/PasseroOne-Regular.ttf') format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    height: 340px;
}

hgroup {
    margin-top: 20px;
    height: 300px;
    background-color: white;
    text-align: right;
}

h1 {
    margin-top: 20px;
    font-size: 52px;
    color: blue;
    line-height: 40px;
    font-family: 'PasseroOne-Regular', 'Gotham', Helvetica, Verdana, sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 2px red;
}

h1 a {
    text-decoration: none;
}

h1 a:visited {
    color: blue;
}



h2 {
	font-size: 20px;
	line-height: 20px;
	font-family: 'Gotham', Helvetica, Verdana, sans-serif;
    color: orange;
	text-transform: uppercase;
	margin: 20px 0px 20px 0px;
}

h2 span {
    color: blue;
}

h3 {
	font-size: 18px;
	line-height: 20px;
	font-family: 'Gotham', Helvetica, Verdana, sans-serif;
    color: orange;
	text-transform: uppercase;
    margin: 20px 0px 0px 0px;
}

h3 a {
    text-transform: none;
    color: red;
}

h3 span {
    color: red;
}

h4 {
	font-size: 30px;
	line-height: 20px;
    font-family: 'PasseroOne-Regular', 'Gotham', Helvetica, Verdana, sans-serif;
    color: blue;
    text-shadow: 2px 2px red;
	text-transform: uppercase;
    margin: 0px 0px 20px 0px;
}

section {
	background-color: orange;
}

hgroup figure {
    margin-top: 20px;
}

p {	
	font-size: 16px;
	line-height: 20px;
	font-family: 'Gotham', Helvetica, Verdana, sans-serif;
}

li {
	font-size: 16px;
	line-height: 20px;
}

a.flag img {
    height: 38px;
    width: 68px;
    border: 1px solid black;
}

a.flag.current img {
     box-shadow: 0px 0px 12px black;
}



#slider {
	margin-top: 20px;
}

#slider img {
	border: 1px solid black;
}

#slider .pagination {
	list-style:none
}

.pagination {
	list-style: none outside none;
	padding-right: 15px;
	margin-top: 3px;
	overflow: hidden;
}

.pagination li {
	cursor: pointer;
	display: inline-block;
	background-color: orange;
	border-radius: 2;
	text-indent: 10000px;
	width: 8px;
	height: 8px;
}

.pagination li.current {
	background-color: yellow;
}

.content {
	background: url('/images/colosseo.png') no-repeat 0px 60px;
}

iframe {
    margin-bottom: 15px;
}

footer {
	padding: 20px 0 0 0;
	text-align: center;
}
