@font-face {
  	font-family: 'euphoria';
   	font-style: normal;
   	font-weight: normal;
    src: local('euphoria'), url('/fonts/EuphoriaScript-Regular.ttf') format('truetype');
}

@font-face {
  	font-family: 'montez';
   	font-style: normal;
   	font-weight: normal;
    src: local('montez'), url('/fonts/Montez-Regular.ttf') format('truetype');
}


* {
    margin: 0px;
    padding: 0px;
}

hgroup {
    margin-top: 20px;
    height: 280px;
    background-color: white;
}

h1 {
    font-size: 60px;
    line-height: 60px;
    font-family: 'euphoria', Helvetica, Verdana, sans-serif;
}

h1 a {
    text-decoration: none;
    color: blue;
}

h1 a:visited {
    color: blue;
}



h2 {
	font-size: 28px;
	line-height: 30px;
	font-family: 'montez', Helvetica, Verdana, sans-serif;
	margin-top: 20px;
}

h2 span {
    color: blue;
}

h3 {
	font-size: 20px;
	line-height: 20px;
	font-family: 'montez', Helvetica, Verdana, sans-serif;
    margin-top: 20px;
}

h3 span {
    color: blue;
}

h3 a {
    text-transform: none;
    text-decoration: none;
    color: blue;
}

h3 a:hover {
    text-decoration: underline;
}

h4 {
	font-size: 60px;
	line-height: 60px;
    font-family: 'euphoria', Helvetica, Verdana, sans-serif;
    margin: 0px 0px 20px 0px;
    color: blue;
}

section {
	background-color: lightblue;
    padding-top: 20px;
}

hgroup figure {
    margin-top: 20px;
}

p {	
	font-size: 28px;
	line-height: 30px;
	font-family: 'montez', Helvetica, Verdana, sans-serif;
}

li {
	font-size: 28px;
	line-height: 30px;
	font-family: 'montez', Helvetica, Verdana, sans-serif;
}

a.flag img {
    height: 38px;
    width: 68px;
    border: 1px solid black;
}

a.flag.current img {
    border: 1px solid blue;
}



#slider {
	margin-top: 20px;
	border: 1px solid black;
}

.content {
	background: url('/images/colosseo.png') center bottom no-repeat;
}

iframe {
    margin-bottom: 15px;
    border: 1px solid black;
}

footer {
	padding: 20px 0 0 0;
	text-align: center;
}

footer a {
    color: blue;
    text-decoration: none;
    text-decoration: none;
}
