@font-face {
  	font-family: 'euphoria';
   	font-style: normal;
   	font-weight: normal;
    src: local('euphoria'), url('/fonts/EuphoriaScript-Regular.ttf') format('truetype');
}

@font-face {
  	font-family: 'montez';
   	font-style: normal;
   	font-weight: normal;
    src: local('montez'), url('/fonts/Montez-Regular.ttf') format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

hgroup {
    height: 280px;
    background-color: white;
    text-align: right;
}

h1 {
    font-size: 80px;
    line-height: 100px;
    font-family: 'euphoria', Helvetica, Verdana, sans-serif;
}

h1 a {
    text-decoration: none;
    color: blue;
}

h1 a:visited {
    color: blue;
}



h2 {
	font-size: 28px;
	line-height: 40px;
	font-family: 'montez', Helvetica, Verdana, sans-serif;
    text-align: center;
    margin-top: 20px;
    font-weight: normal;
}

h2 span {
    color: blue;
}

h3 {
	font-size: 40px;
	line-height: 40px;
    font-family: 'euphoria', Helvetica, Verdana, sans-serif;
    margin: 0px 0px 20px 0px;
    color: blue;
}

.privacy {
    margin-top: 20px;
}

h4 {
	font-size: 32px;
	line-height: 40px;
    font-family: 'euphoria', Helvetica, Verdana, sans-serif;
    margin: 0px 0px 20px 0px;
    color: blue;
}

.main {
	background-color: lightblue;
}

nav {
    margin-top: 20px;
    text-align: right;
}

nav ul li {
    margin:0;
    padding:0;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-family: 'euphoria', Helvetica, Verdana, sans-serif;
    font-size: 40px;
    line-height: 40px;
    color: blue;
    font-weight: bold;
}

nav ul li a:visited {
    color: blue;
}

nav ul li a:hover {
    color: white;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
}

section.items article:not(:target) {
        display: none;
    }

section.items article:target {
        display: block;
        -webkit-animation: fadeIn 2s;
         animation: fadeIn 2s;
}

article {
    margin: 20px 0 0 0;
}

hgroup figure {
    margin: 0;
    padding: 0;
}

p {	
	font-size: 32px;
	line-height: 40px;
	font-family: 'montez', Helvetica, Verdana, sans-serif;
}

li {
	font-size: 32px;
	line-height: 40px;
	font-family: 'montez', Helvetica, Verdana, sans-serif;
}

img.flag {
    height: 38px;
    width: 58px;
    border: 1px solid black;
}

img.flag.current {
    border: 1px solid blue;
}

#slider {
	border: 1px solid black;
}

.content {
	background: url('/images/colosseo.png') center bottom no-repeat;
}

iframe {
    margin-bottom: 15px;
    border: 1px solid black;
}

footer {
	padding: 20px 0 0 0;
	text-align: center;
    text-size: 28px;
    line-height: 40px;
}

footer a {
    color: blue;
    text-decoration: none;
    text-decoration: none;
}
