@font-face {
  	font-family: 'euphoria';
   	font-style: normal;
   	font-weight: normal;
    src: local('euphoria'), url('/fonts/EuphoriaScript-Regular.ttf') format('truetype');
}

@font-face {
  	font-family: 'roboto';
   	font-style: normal;
   	font-weight: normal;
    src: local('roboto'), url('/fonts/RobotoSlab-Regular.ttf') format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

hgroup {
    height: 280px;
    background-color: white;
    text-align: right;
}

h1 {
    font-size: 80px;
    line-height: 100px;
    font-family: 'euphoria', Helvetica, Verdana, sans-serif;
}

h1 a {
    text-decoration: none;
    color: #a700b6;
}

h1 a:visited {
    color: #a700b6;
}



h2 {
	font-size: 16px;
	line-height: 20px;
	font-family: 'roboto', Helvetica, Verdana, sans-serif;
    text-align: center;
    margin-top: 20px;
    font-weight: normal;
}

h2 span {
    color: #a700b6;
}

h3 {
	font-size: 24px;
	line-height: 40px;
    font-family: 'roboto', Helvetica, Verdana, sans-serif;
    margin: 0px 0px 20px 0px;
    color: #a700b6;
}

.privacy {
    margin-top: 20px;
}

h4 {
	font-size: 32px;
	line-height: 40px;
    font-family: 'euphoria', Helvetica, Verdana, sans-serif;
    margin: 0px 0px 20px 0px;
    color: #a700b6;
}

.main {
	background-color: #ffc4e4;
}

nav {
    margin-top: 20px;
    text-align: right;
}

nav ul li {
    margin:0;
    padding:0;
    list-style: none;
}

nav ul li p {
    margin:0;
    padding:0;
}

nav ul li a {
    text-decoration: none;
    font-family: 'roboto', Helvetica, Verdana, sans-serif;
    font-size: 24px;
    line-height: 40px;
    color: #a700b6;
    font-weight: bold;
}

nav ul li a:visited {
    color: #a700b6;
}

nav ul li a:hover {
    color: white;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
}

section {
    padding: 20px 0 0 0;
}

section.items article:not(:target) {
        display: none;
}

section.items article#colosseo,
section.items article:target {
    display: block;
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
}

article {
    margin: 0;
}

article#colosseo {
    background: url('/images/colosseo.png') 0px 0px no-repeat;
    height: 180px;
    width: 540px;
    -webkit-animation: fadeIn 0s;
    animation: fadeIn 0s;
}

article a,
article a:visited {
    color: #a700b6;
}

hgroup figure {
    margin: 0;
    padding: 0;
}

p {	
	font-size: 16px;
	line-height: 20px;
	font-family: 'roboto', Helvetica, Verdana, sans-serif;
}

li {
	font-size: 16px;
	line-height: 20px;
	font-family: 'roboto', Helvetica, Verdana, sans-serif;
}

img.flag {
    height: 38px;
    width: 58px;
    border: 1px solid black;
}

img.flag.current {
    border: 1px solid #a700b6;
}

#slider {
	border: 1px solid black;
}


iframe {
    margin-bottom: 15px;
    border: 1px solid black;
}

footer {
	padding: 20px 0 0 0;
	text-align: center;
}

footer p {
    font-size: 16px;
    line-height: 20px;
	font-family: 'roboto', Helvetica, Verdana, sans-serif;
}

footer a {
    color: #a700b6;
    text-decoration: none;
    text-decoration: none;
}
