@font-face {
  	font-family: 'HelveticaNeue-Thin';
    	font-style: normal;
      	font-weight: normal;
        src: local('HelveticaNeue-Thin'), url('/fonts/HelveticaNeue-Thin.ttf') format('truetype');
	}


* {
        margin: 0px;
        padding: 0px;
}

header {
	background-color: white;
}

h1 {
	font-size: 36px;
	line-height: 40px;
	margin-top: 40px;
	font-family: 'Fanwood Text', 'Gotham', Helvetica, Verdana, sans-serif;
	text-transform: uppercase;
}

h2 {
	font-size: 16px;
	line-height: 20px;
	font-family: 'Gotham', Helvetica, Verdana, sans-serif;
	text-transform: uppercase;
	margin-bottom: 40px;
}

h3 {
	font-size: 20px;
	line-height: 20px;
	font-family: 'Gotham', Helvetica, Verdana, sans-serif;
	text-transform: uppercase;
}

p {	
	font-size: 16px;
	line-height: 20px;
	font-family: 'Gotham', Helvetica, Verdana, sans-serif;
}

li {
	font-size: 16px;
	line-height: 20px;
}

figure.bar {
	background-color: yellow;
}

figure.maps {
	margin-top: 20px;
	height: 458px;
	width: 458px;
	border: 1px solid black;
}

#slider {
	margin-top: 20px;
}

#slider img {
	border: 1px solid black;
}

#slider .pagination {
	list-style:none
}

.pagination {
	list-style: none outside none;
	padding-right: 15px;
	margin-top: 3px;
	overflow: hidden;
}

.pagination li {
	cursor: pointer;
	display: inline-block;
	background-color: red;
	border-radius: 2;
	text-indent: 10000px;
	width: 8px;
	height: 8px;
}

.pagination li.current {
	background-color: blue;
}

.content {
	background: url('/images/colosseo.png') no-repeat center 60px;
}

footer {
	padding: 20px 0 0 0;
	text-align: center;
	background-color: yellow;
}
